* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-bottom: 90px;
}

#map {
    height: 500px;
}

nav img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    position: relative;
    bottom: -10px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: #ddd 0px 4px 8px;
    position: fixed;
    bottom: 5px;
}

.mapa {
    text-decoration: none;
    color: #fff;
    background-color: #FE8A00;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    margin: 15px;
}

ul {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    list-style: none;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    gap: 5px;
    padding: 10px;
}

#btnLinha1,
#btnLinha2,
#btnLinha3,
#btnCircular,
#btnSesi {
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

#btnLinha1 {
    background-color: #E1FAAE;
}

#btnLinha2 {
    background-color: #AFE6EA;
}

#btnLinha3 {
    background-color: #AECFFF;
}

#btnCircular {
    background-color: #FFFFFF;
}

#btnSesi {
    background-color: #ecf45c;
}

li img {
    width: 50px;
    height: auto;
}

h2 {
    font-size: 18px;
    margin: 15px;
}

.infor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
}

.infor-container p {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    margin-bottom: 10px
}

.l1-block,
.l2-block,
.l3-block,
.circular-block {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.l-start {
    background-color: #F87314;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 10px;
}

.l-end {
    background-color: #FFFFFF;
    padding: 15px;
    color: #F87314;
    border-radius: 10px;
}

