* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    width: 200px;
    height: auto;
    display: flex;
    margin: 0 auto;
    padding-top: 150px;
}

#logo img {
    width: 100%;
    height: auto;
}

.slogan {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #612828;
}

.bold {
    font-weight: bold;
    font-style: italic;
}

.broad-btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 50px auto;
    background-color: #FE8A00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.account {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 14px;
}

.color-img img {
    width: 13px;
    height: auto;
}

.color-img {
    position: relative;
    top: -2px;
    background-color: #612828;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
}